p {
  line-height: 2;
}

.projects {
  color: #eaf6f6;
  /* padding-top: 50px; */
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.link:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #f1d1d1;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #f4f6ff;
  margin: 100px 0;
}

.bottom-container {
  background-color: #f1d1d1;
  padding: 50px 0 20px;
}

.profile {
  width: 30%;
  margin: auto;
}

.copyright {
  color: #40514e;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-row {
  margin: 75px auto 100px auto;
  width: 50%;
  text-align: left;
}

.hannah {
  height: 200px;
  width: 200px;
}

.donut {
  margin: 50px auto 100px auto;
  width: 50%;
  text-align: left;
}

.coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.design {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #548a21;
  border-radius: 8px;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}
/* 
button highlighting css */
#neonShadow {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 50px;
  transition: 0.3s;
  background-color: rgba(156, 161, 160, 0.3);
  animation: glow 2s infinite;
  transition: 0.5s;
}
.project-button {
  display: block;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  /* padding-top: 15%; */
  padding-right: 2.5%;
  margin-right: 0px;
  font-size: 1.2rem;
  transition: 0.3s;
  opacity: 0.5;
  border-radius: 30px;
  margin-top: 40px;
}

.project-button:hover {
  transition: 0.3s;
  opacity: 0.5;
  font-weight: 700;
  /* border-radius: 30px; */
}

#neonShadow:hover {
  transform: translateX(-20px) rotate(30deg);
  /* border-radius: 30px; */
  background-color: #c3bacc;
  transition: 0.5s;
}

@keyframes glow {
  0% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }

  50% {
    box-shadow: 5px 5px 20px rgb(81, 224, 210), -5px -5px 20px rgb(81, 224, 210);
  }
  100% {
    box-shadow: 5px 5px 20px rgb(93, 52, 168), -5px -5px 20px rgb(93, 52, 168);
  }
}
